In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [16]:
df = sns.load_dataset('iris')

In [17]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [18]:
df['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [19]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [20]:
df = df[df['species'] != 'setosa']

In [21]:
df.head()

    sepal_length  sepal_width  petal_length  petal_width     species
50           7.0          3.2           4.7          1.4  versicolor
51           6.4          3.2           4.5          1.5  versicolor
52           6.9          3.1           4.9          1.5  versicolor
53           5.5          2.3           4.0          1.3  versicolor
54           6.5          2.8           4.6          1.5  versicolor

In [22]:
df['species'] = df['species'].map({'versicolor' : 0, 'virginica' : 1})

In [54]:
df.head()

    sepal_length  sepal_width  petal_length  petal_width  species
50           7.0          3.2           4.7          1.4        0
51           6.4          3.2           4.5          1.5        0
52           6.9          3.1           4.9          1.5        0
53           5.5          2.3           4.0          1.3        0
54           6.5          2.8           4.6          1.5        0

In [80]:
X = df.iloc[:,:-1]
Y = df.iloc[:,-1]

In [81]:
X

     sepal_length  sepal_width  petal_length  petal_width
50            7.0          3.2           4.7          1.4
51            6.4          3.2           4.5          1.5
52            6.9          3.1           4.9          1.5
53            5.5          2.3           4.0          1.3
54            6.5          2.8           4.6          1.5
..            ...          ...           ...          ...
144           6.7          3.3           5.7          2.5
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3

[99 rows x 4 columns]

In [82]:
Y

50     0
51     0
52     0
53     0
54     0
      ..
144    1
145    1
146    1
147    1
148    1
Name: species, Length: 99, dtype: int64

In [83]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y , test_size = 0.2, random_state= 25)

In [84]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()

In [85]:
from sklearn.model_selection import GridSearchCV
parameter = {'penalty' : ['l2'], 'C' : [1,2,3,4,5,6,10,20,30,40,50], 'max_iter' : [100,200,300]}

In [86]:
classifier_reg = GridSearchCV(classifier, param_grid= parameter, scoring= 'accuracy', cv = 5)

In [87]:
classifier_reg.fit(X_train, Y_train)

GridSearchCV(cv=5, estimator=LogisticRegression(),
             param_grid={'C': [1, 2, 3, 4, 5, 6, 10, 20, 30, 40, 50],
                         'max_iter': [100, 200, 300], 'penalty': ['l2']},
             scoring='accuracy')

In [88]:
print(classifier_reg.best_params_)

{'C': 2, 'max_iter': 100, 'penalty': 'l2'}

In [89]:
print(classifier_reg.best_score_)

0.975